@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Space+Mono:wght@400;700&display=swap');

/* z-index index 
#1 Hamburger .opacityLayer
#2 Hamburger #menu
#3 Hamburger #menuToggle, Hamburger #menuToggle span
#4 Hamburger #menuToggle input
*/

:root {
  --buttonHover: rgb(114, 189, 192);
  --buttonBackground: whitesmoke;
  --cardBackground: rgb(216, 216, 216);
  --boxShadow: rgb(185, 186, 187);
  --borderRadius: 0.2rem;
  --placeHolder: cadetblue;
  --defaultWhite: whiteSmoke;
  --defaultBlack: black;
  --opacity: rgba(0, 0, 0, 0.3);
}

body {
  font-family: Oxygen, sans-serif;
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
  color: var(--color);
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: linear-gradient(
      to top 109.6deg,
      rgba(156, 252, 248, 1) 11.2%,
      rgba(110, 123, 251, 1) 91.1%
    );
  }
}
