.aboutWrapper {
  margin: 2rem;
  background-color: var(--cardBackground);
  padding: 1rem;
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
}

.title {
  margin-left: 3rem;
}

.aboutImg {
  width: 2rem;
  background-color: var(--defaultWhite);
  border-radius: 50%;
  padding: 3px;
  border: 2px solid black;
  margin-left: 1.2rem;
  margin-right: auto;
}

.devImage {
  width: 12rem;
  align-self: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.textColumnOne {
  background-color: var(--defaultWhite);
  margin-left: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1rem;
}

.greenColumn {
  background-color: green;
  height: 100px;
}

.textColumn {
  background-color: var(--defaultWhite);
  margin-top: 1rem;
  margin-left: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1rem;
}

.spacerRow {
  width: 50%;
}

.linkOne {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.aboutLinks {
  text-align: center;
  margin-top: 0.25rem;
}
