.failToFindCard {
  height: 374px;
  background-color: var(--cardBackground);
  overflow: hidden;
  box-shadow: 0 2px 20px var(--boxShadow);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 200ms ease-in;
  text-align: center;
}

.failToFindImage {
  height: 200px;
  border-radius: 50%;
  padding: 1rem;
}
