.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

/* pagination css */
.pagination {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination a {
  padding: 8px;
  margin: 6px;
  border-radius: 5px;
  /* border: 1px solid black; */
  color: black;
  cursor: pointer;
}

.pagination a:hover {
  color: white;
  background-color: cadetblue;
}

.paginationActive a {
  color: white;
  background-color: cadetblue;
  border: 1px solid rgb(102, 168, 170);
}
